#registration-form {
	border: 1px solid grey;
	padding: 1%;
	display: flex;
	align-items: space-around;
	justify-content: center;
	flex-direction: column;
}

.registration-form-input {
	border: none;
	width: 100%;
	font-size: 1.4em;
	outline: none;
	margin-bottom: 2%;
	padding: 2%;
}

#registration-form-btn {
	padding: 1%;
	font-size: 1em;
}